.background{
    background-color: gray;
    overflow: hidden;
}

.container{
  background-color: gray;
  width: 100%;
  height: 100vh;
  
  transform: perspective(300px) rotateX(45deg);
}

.text{
  
  margin: 0 auto;
  color: yellow;
  font-family: sans-serif;
  font-size: 30px;
  width: 50vw;

  height: 100%;
  transform: translateY(600px);
  position: relative;
 
 animation-name: move; 
 animation-duration: 60s;
 animation-iteration-count: infinite;

}

@keyframes move{
form{transform: translateY(600px) }
to{transform: translateY(-1000px) }
}